---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://author.com","access_token":"411d15f25e9d832904dc6a1a1def1c680e04fa7548075118418ab660b301"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"8ebb24b6d94032488301db7c9550770f788327c42e8fc5ede73126600c5d","auth_url":"https:\/\/edit.telegra.ph\/auth\/liAyBsgI9zrZfhh92xz5zj8P9qnE1fBkx9Q6A6PHFe"}}'
  recorded_at: Thu, 30 Nov 2017 12:34:44 GMT
recorded_with: VCR 3.0.3
