---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/getAccountInfo
    body:
      encoding: UTF-8
      string: '{"fields":"[\"short_name\", \"author_name\", \"author_url\", \"auth_url\",
        \"page_count\"]","access_token":"a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"new name","author_name":"new author","author_url":"http:\/\/new-url.com\/","auth_url":"https:\/\/edit.telegra.ph\/auth\/MfrSjx9OUFqym1iT36qIIIs8sOW2n2x8hW0Br7nkML","page_count":100}}'
  recorded_at: Thu, 30 Nov 2017 12:33:49 GMT
- request:
    method: post
    uri: https://api.telegra.ph/editAccountInfo
    body:
      encoding: UTF-8
      string: '{"short_name":"new name","author_name":"new author","author_url":"http://new-url.com","access_token":"a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"new name","author_name":"new author","author_url":"http:\/\/new-url.com\/"}}'
  recorded_at: Thu, 30 Nov 2017 12:33:51 GMT
recorded_with: VCR 3.0.3
