---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"2d14325e30c59d6f6a16ba433b5838710a6a30a511210431ea17142c508c","auth_url":"https:\/\/edit.telegra.ph\/auth\/6hix2XmjMTVg1N2DltdKHbIuMkH4EL4K2mi4jEl3vh"}}'
  recorded_at: Wed, 21 Feb 2018 09:00:11 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getAccountInfo?access_token=2d14325e30c59d6f6a16ba433b5838710a6a30a511210431ea17142c508c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/"}}'
  recorded_at: Wed, 21 Feb 2018 09:00:12 GMT
recorded_with: VCR 3.0.3
