---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"21c83dd05208ad1e08db8c1995a36bfc3908fd934b8f9b70e44bad74b8a2","auth_url":"https:\/\/edit.telegra.ph\/auth\/M6bOn8UxMKSIs7QeDqx7pSvu9T57nwOaCXWZ5OuPzm"}}'
  recorded_at: Wed, 21 Feb 2018 08:51:02 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getAccountInfo?access_token=21c83dd05208ad1e08db8c1995a36bfc3908fd934b8f9b70e44bad74b8a2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/"}}'
  recorded_at: Wed, 21 Feb 2018 08:51:02 GMT
recorded_with: VCR 3.0.3
