---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"22de34df19db67a54310dc5ccefc260f9e4336c30ed4c385051d7d16d514","auth_url":"https:\/\/edit.telegra.ph\/auth\/6oemxIKVB6neKalcvcRrq9pVRm9E5c0cAcy5UiYvnm"}}'
  recorded_at: Tue, 27 Feb 2018 18:50:09 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getViews?path=test-title-02-21-323
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"PAGE_NOT_FOUND"}'
  recorded_at: Tue, 27 Feb 2018 18:50:09 GMT
recorded_with: VCR 3.0.3
