---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://author.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"fd8545128f2b30a8d3af22f903847df802d34a23e05cb14fef914b95dcae","auth_url":"https:\/\/edit.telegra.ph\/auth\/jp2mISLcDzj8H9sxnP9U9TjnkarRPkg8Kjtq9eCKNT"}}'
  recorded_at: Thu, 17 Jan 2019 19:25:13 GMT
recorded_with: VCR 4.0.0
