---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://author.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"5c4266274f5261f81330a86b83cc23dbab134f7e6a096535a7095a19847a","auth_url":"https:\/\/edit.telegra.ph\/auth\/VDTy6hG6h5A5nkqGA7anloiSQzZss4HmFAUJRyP7Bn"}}'
  recorded_at: Mon, 14 Jan 2019 18:51:47 GMT
recorded_with: VCR 4.0.0
