---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://author.com","access_token":"de013d1baaf3b8e6f0b251d58958bfc0d6f0944e8793c225e92be2efe34e"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"b75403e3bd7b5a60e7054017f63c233815e7235f45ec5df02bd1529bf489","auth_url":"https:\/\/edit.telegra.ph\/auth\/ZsyeNhiRmuYvILzBm3pwaVbXPPyK4ns1N0dBfvqAZp"}}'
  recorded_at: Thu, 30 Nov 2017 13:37:43 GMT
recorded_with: VCR 3.0.3
