---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"0baf5661553422480fff9056959ffd59520fd98f048f9fbbd2bc881c3528","auth_url":"https:\/\/edit.telegra.ph\/auth\/b8IYgSs4PbRFdR7nZgjGHm6l4HWzJ2BUbjQraitZrk"}}'
  recorded_at: Tue, 27 Feb 2018 18:23:01 GMT
- request:
    method: post
    uri: https://api.telegra.ph/createPage
    body:
      encoding: UTF-8
      string: '{"title":"test title","author_name":"test_author","author_url":"http://testauthorlink.com/","content":[{"tag":"p","children":["Hello,
        world!"]}],"return_content":false,"access_token":"0baf5661553422480fff9056959ffd59520fd98f048f9fbbd2bc881c3528"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"path":"test-title-02-27-13","url":"http:\/\/telegra.ph\/test-title-02-27-13","title":"test
        title","description":"","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","views":0,"can_edit":true}}'
  recorded_at: Tue, 27 Feb 2018 18:23:02 GMT
recorded_with: VCR 3.0.3
