---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"ab584c63dc44475e8697f43546fbe21ab486b1eb675cadf6883c81fc8e45","auth_url":"https:\/\/edit.telegra.ph\/auth\/wgW9ZLupQ4PRSDAn0a4lC2MoDQ3pcELHSFOSoihek6"}}'
  recorded_at: Wed, 21 Feb 2018 16:39:53 GMT
- request:
    method: post
    uri: https://api.telegra.ph/createPage
    body:
      encoding: UTF-8
      string: '{"title":"test title","author_name":"test_author","author_url":"http://testauthorlink.com/","content":[{"tag":"p","children":["Hello,
        world!"]}],"return_content":false,"access_token":"ab584c63dc44475e8697f43546fbe21ab486b1eb675cadf6883c81fc8e45"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"path":"test-title-02-21-8","url":"http:\/\/telegra.ph\/test-title-02-21-8","title":"test
        title","description":"","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","views":0,"can_edit":true}}'
  recorded_at: Wed, 21 Feb 2018 16:39:54 GMT
recorded_with: VCR 3.0.3
