---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/getPage?access_token=a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5&path=test-title-02-21-4&return_content=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"path":"test-title-02-21-4","url":"https:\/\/telegra.ph\/test-title-02-21-4","title":"test
        title","description":"Hello, world!","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","views":0}}'
  recorded_at: Mon, 14 Jan 2019 18:51:46 GMT
recorded_with: VCR 4.0.0
