---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"fd3732babeead35be2881ab57a2a114488e2f7ccb4f0b9f2cd4aa2f16a49","auth_url":"https:\/\/edit.telegra.ph\/auth\/PHvFgi7JuyD7uTa03Fo5dJ5TFXkgIw5vdA8tQfakON"}}'
  recorded_at: Mon, 14 Jan 2019 18:51:44 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getPageList?access_token=fd3732babeead35be2881ab57a2a114488e2f7ccb4f0b9f2cd4aa2f16a49&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"total_count":0,"pages":[]}}'
  recorded_at: Mon, 14 Jan 2019 18:51:45 GMT
recorded_with: VCR 4.0.0
