---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"f933638dffe60f1fa5dca9a5e872c6cb83a5fab6f7f27b6a7b4995ada313","auth_url":"https:\/\/edit.telegra.ph\/auth\/AIIaALpjhUm5lVbVNVy40KqCVCatnnNV4t4CctWrni"}}'
  recorded_at: Sun, 21 Jan 2018 15:47:37 GMT
recorded_with: VCR 3.0.3
