---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"ae3f44ccb3a79c8ae974bba7a9c5022ee4e952a4f5b3a759c7fc5217162f","auth_url":"https:\/\/edit.telegra.ph\/auth\/n499UqLCksXO6xMRtjsUcC4DsBBWW6Ui84r3uaFNDA"}}'
  recorded_at: Wed, 21 Feb 2018 09:00:12 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getAccountInfo?access_token=ae3f44ccb3a79c8ae974bba7a9c5022ee4e952a4f5b3a759c7fc5217162f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/"}}'
  recorded_at: Wed, 21 Feb 2018 09:00:12 GMT
recorded_with: VCR 3.0.3
