---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://author.com","access_token":"de013d1baaf3b8e6f0b251d58958bfc0d6f0944e8793c225e92be2efe34e"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"411d15f25e9d832904dc6a1a1def1c680e04fa7548075118418ab660b301","auth_url":"https:\/\/edit.telegra.ph\/auth\/i7SclcCUr5FhIGz3WggqWrLYpym4puGGCwSVGsP5xs"}}'
  recorded_at: Thu, 30 Nov 2017 12:34:43 GMT
recorded_with: VCR 3.0.3
