---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"aaf46f9df58c4209af5ff1cae1d29f274caf79ee98fbffe43ceb5b62fbc8","auth_url":"https:\/\/edit.telegra.ph\/auth\/MMW6cez0gnvCUwdQt0hJU8XOLlukIamuWhy6v74KsA"}}'
  recorded_at: Wed, 21 Feb 2018 16:37:05 GMT
- request:
    method: post
    uri: https://api.telegra.ph/createPage
    body:
      encoding: UTF-8
      string: '{"title":"test title","author_name":"test_author","author_url":"http://testauthorlink.com/","content":[{"tag":"p","children":["Hello,
        world!"]}],"return_content":false,"access_token":"aaf46f9df58c4209af5ff1cae1d29f274caf79ee98fbffe43ceb5b62fbc8"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"path":"test-title-02-21-2","url":"http:\/\/telegra.ph\/test-title-02-21-2","title":"test
        title","description":"","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","views":0,"can_edit":true}}'
  recorded_at: Wed, 21 Feb 2018 16:37:06 GMT
recorded_with: VCR 3.0.3
