---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"a9116325805f8aaeda8c396a482996de46daaa2638522f1f79a479f66dc6","auth_url":"https:\/\/edit.telegra.ph\/auth\/HMZMOKpJJ39DMR2u6xPfK43g3uz0lan2XmOJ4btLdA"}}'
  recorded_at: Wed, 21 Feb 2018 16:37:06 GMT
- request:
    method: post
    uri: https://api.telegra.ph/createPage
    body:
      encoding: UTF-8
      string: '{"title":"test title","author_name":"test_author","author_url":"http://testauthorlink.com/","content":[{"tag":"p","children":["Hello,
        world!"]}],"return_content":false,"access_token":"a9116325805f8aaeda8c396a482996de46daaa2638522f1f79a479f66dc6"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"path":"test-title-02-21-3","url":"http:\/\/telegra.ph\/test-title-02-21-3","title":"test
        title","description":"","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","views":0,"can_edit":true}}'
  recorded_at: Wed, 21 Feb 2018 16:37:06 GMT
recorded_with: VCR 3.0.3
