---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"ecee58048a25190ad647d0a76dbbef224ad63806a6e7b20c7c50e7c64f1d","auth_url":"https:\/\/edit.telegra.ph\/auth\/gvmOTQ5Ru4mJLGIPsenrzWYXI71ReRYukigd8l4Bor"}}'
  recorded_at: Mon, 14 Jan 2019 18:52:47 GMT
- request:
    method: get
    uri: https://api.telegra.ph/editAccountInfo?access_token=ecee58048a25190ad647d0a76dbbef224ad63806a6e7b20c7c50e7c64f1d&author_name=new_author&author_url=http://newlink.com&short_name=new_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"new_name","author_name":"new_author","author_url":"http:\/\/newlink.com\/"}}'
  recorded_at: Mon, 14 Jan 2019 18:52:48 GMT
recorded_with: VCR 4.0.0
