---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"bee53f39bea8600ae492c9819eb5222052e4b4d6d3849170096673180f06","auth_url":"https:\/\/edit.telegra.ph\/auth\/i5bEUgjC7u4B66QGqAowR8atQLoQszJICSku7D6e78"}}'
  recorded_at: Sun, 21 Jan 2018 16:08:42 GMT
recorded_with: VCR 3.0.3
