---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"fd85bb6ee295ca9bb85e7ad4badb5531dbb8786586a0d812e2af1d03fae0","auth_url":"https:\/\/edit.telegra.ph\/auth\/aBspTy1U0twTB028LGTlCpFY8VbyWEU7fku6Qw0PZv"}}'
  recorded_at: Tue, 27 Feb 2018 18:30:46 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getViews?day&hour&month&path=test-title-02-21-323&year
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"PAGE_NOT_FOUND"}'
  recorded_at: Tue, 27 Feb 2018 18:30:47 GMT
recorded_with: VCR 3.0.3
