---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"8a37881dcebb6f3d946824ae7c0ac40ee0944e3bfc6638cfd28c9d46395a","auth_url":"https:\/\/edit.telegra.ph\/auth\/109SmtZUYDNEi61kqMO8YncM6eYAZc51ccRyFQrBre"}}'
  recorded_at: Wed, 21 Feb 2018 11:30:42 GMT
- request:
    method: get
    uri: https://api.telegra.ph/editAccountInfo?access_token=8a37881dcebb6f3d946824ae7c0ac40ee0944e3bfc6638cfd28c9d46395a&author_name=new_author&author_url=http://newlink.com&short_name=new_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"new_name","author_name":"new_author","author_url":"http:\/\/newlink.com\/"}}'
  recorded_at: Wed, 21 Feb 2018 11:30:42 GMT
recorded_with: VCR 3.0.3
