---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"2b379b0a06dbe74d5c08acd9c5bf18b02b5c2eb38bdf1a053c4d7682039b","auth_url":"https:\/\/edit.telegra.ph\/auth\/tLB34n3MxQAKvzPAPcNxwnNiilG9jQoKA0NElRoQFZ"}}'
  recorded_at: Wed, 21 Feb 2018 11:30:43 GMT
- request:
    method: get
    uri: https://api.telegra.ph/editAccountInfo?access_token=2b379b0a06dbe74d5c08acd9c5bf18b02b5c2eb38bdf1a053c4d7682039b&author_name=new_author&author_url=http://newlink.com&short_name=new_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"new_name","author_name":"new_author","author_url":"http:\/\/newlink.com\/"}}'
  recorded_at: Wed, 21 Feb 2018 11:30:43 GMT
recorded_with: VCR 3.0.3
