---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://author.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"1c88f07c13813a014f052851c28a7dc0424fe029489d5014ea9f9d1a3fb0","auth_url":"https:\/\/edit.telegra.ph\/auth\/ILIjpTIV6NYzq0NQweAHkwSKq8xyS7JyRqRgjyanl8"}}'
  recorded_at: Thu, 17 Jan 2019 19:25:13 GMT
recorded_with: VCR 4.0.0
