---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://author.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"06e8f23275a2f93a29c030a9a0f25720dc29bfe6a82a429db27e7580abd0","auth_url":"https:\/\/edit.telegra.ph\/auth\/MGZkofZCRwYNfeGZ9yhWg0B9aM14Eb5pP2HdhFO6bM"}}'
  recorded_at: Mon, 14 Jan 2019 18:51:47 GMT
recorded_with: VCR 4.0.0
