---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://author.com","access_token":"a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"de013d1baaf3b8e6f0b251d58958bfc0d6f0944e8793c225e92be2efe34e","auth_url":"https:\/\/edit.telegra.ph\/auth\/aPhVmM1TiWfs4jqstbQGvDQcaZ0a9BfjpxcJhbAz7Q"}}'
  recorded_at: Thu, 30 Nov 2017 12:34:43 GMT
recorded_with: VCR 3.0.3
