---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/getPage
    body:
      encoding: UTF-8
      string: '{"path":"keka-11-30-2","return_content":false,"access_token":"a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"path":"keka-11-30-2","url":"http:\/\/telegra.ph\/keka-11-30-2","title":"keka","description":"Hello","views":1}}'
  recorded_at: Fri, 08 Dec 2017 10:51:04 GMT
recorded_with: VCR 3.0.3
