---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/getPageList
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":0,"access_token":"a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"total_count":120,"pages":[{"path":"Tysyachelikij-geroj-Part-11-12-05","url":"http:\/\/telegra.ph\/Tysyachelikij-geroj-Part-11-12-05","title":"\u0422\u044b\u0441\u044f\u0447\u0435\u043b\u0438\u043a\u0438\u0439
        \u0433\u0435\u0440\u043e\u0439 (Part 1\/1)","description":"1.\u00a0\u041c\u0438\u0444
        \u0438 \u0441\u043d\u043e\u0432\u0438\u0434\u0435\u043d\u0438\u0435\n\u0421\u043b\u0443\u0448\u0430\u0435\u043c
        \u043b\u0438 \u043c\u044b \u0441\u043e \u0441\u043d\u0438\u0441\u0445\u043e\u0434\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u043c
        \u0438\u043d\u0442\u0435\u0440\u0435\u0441\u043e\u043c \u043a\u0430\u043a\u043e\u0433\u043e-\u043d\u0438\u0431\u0443\u0434\u044c
        \u043a\u043e\u043d\u0433\u043e\u043b\u0435\u0437\u0441\u043a\u043e\u0[...]
