---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"89203aa7cebccd4a92a6e6820bf25425eb92d9308381862db5d6500660a4","auth_url":"https:\/\/edit.telegra.ph\/auth\/jTXNzpIc2OfxWLo3gGf9WbSgk52qGbvY4sLBRsLSe1"}}'
  recorded_at: Sun, 20 Jan 2019 08:58:13 GMT
recorded_with: VCR 4.0.0
