---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"eef4ba7b82c33032dea1f9d41218837174dede2fd5987e97e2cae6317305","auth_url":"https:\/\/edit.telegra.ph\/auth\/KSO4itfDn3m5hwjwV6RyVc1FZBMnKhsu9hwqIM33Pn"}}'
  recorded_at: Mon, 14 Jan 2019 18:51:34 GMT
recorded_with: VCR 4.0.0
