---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"4499b8dd6442b0763e781b7862f601a4273e5e042a78947542a162af2fa9","auth_url":"https:\/\/edit.telegra.ph\/auth\/0feSKA61D0ZQAikBUJk4koJFEhVRAyFyLRrvrxw2vv"}}'
  recorded_at: Sun, 21 Jan 2018 16:02:20 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getAccountInfo?access_token=4499b8dd6442b0763e781b7862f601a4273e5e042a78947542a162af2fa9&fields%5B%5D=auth_url&fields%5B%5D=author_name&fields%5B%5D=author_url&fields%5B%5D=page_count&fields%5B%5D=short_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"FIELDS_FORMAT_INVALID"}'
  recorded_at: Sun, 21 Jan 2018 16:02:21 GMT
recorded_with: VCR 3.0.3
