---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"14be539379d46156231fd3419c5f31b7fa2339cc138652c1f74a093ad31a","auth_url":"https:\/\/edit.telegra.ph\/auth\/FeBx6hGJA6BHSpfdFMU035mvMMqgiy5VLFsRW9Bwdc"}}'
  recorded_at: Tue, 27 Feb 2018 18:22:55 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getAccountInfo?access_token=14be539379d46156231fd3419c5f31b7fa2339cc138652c1f74a093ad31a&fields=%5B%22short_name%22,%22author_name%22,%22author_url%22,%22auth_url%22,%22page_count%22%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","auth_url":"https:\/\/edit.telegra.ph\/auth\/L32Qh6bmYR9Os2eihutvBXAoSfCsQktCntqDABXwr5","page_count":0}}'
  recorded_at: Tue, 27 Feb 2018 18:22:55 GMT
recorded_with: VCR 3.0.3
