---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"ff78e4fdfef9600fa42a3b6423962bd079a40c243639ff7fd1bdf6c329ff","auth_url":"https:\/\/edit.telegra.ph\/auth\/NQIcC3mUHuY3cqWbzJWBd4C5EMDP2M0PCGZcJk6pO2"}}'
  recorded_at: Wed, 21 Feb 2018 10:24:26 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getAccountInfo?access_token=ff78e4fdfef9600fa42a3b6423962bd079a40c243639ff7fd1bdf6c329ff&fields=%5B%22short_name%22,%22author_name%22,%22author_url%22,%22auth_url%22,%22page_count%22%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","auth_url":"https:\/\/edit.telegra.ph\/auth\/PccWJtzLHULXUXua5808IeKaenkCjgx7qJ37aAQQvA","page_count":0}}'
  recorded_at: Wed, 21 Feb 2018 10:24:26 GMT
recorded_with: VCR 3.0.3
