---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/getAccountInfo
    body:
      encoding: UTF-8
      string: '{"fields":"[\"short_name\", \"author_name\", \"author_url\", \"auth_url\",
        \"page_count\"]","access_token":"a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"new name","author_name":"new author","author_url":"http:\/\/new-url.com\/","auth_url":"https:\/\/edit.telegra.ph\/auth\/VQebmAehn7b0z4d7HzcKROUxkFc3oPihFwrZ4DepKn","page_count":101}}'
  recorded_at: Fri, 01 Dec 2017 08:33:03 GMT
recorded_with: VCR 3.0.3
