---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"6a4ec21277c308f52d08bca6b2d90de00e2d2ea3f4a8a2cf76413abaa8cb","auth_url":"https:\/\/edit.telegra.ph\/auth\/2q8OKvuprhZkKbof3qS6c5TU2v9v21y2rFQaakzzBz"}}'
  recorded_at: Tue, 27 Feb 2018 18:47:23 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getViews?path=test-title-02-27-4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"views":0}}'
  recorded_at: Tue, 27 Feb 2018 18:47:23 GMT
recorded_with: VCR 3.0.3
