---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"ce71c3f0de13b12a8271787a12509e71a9820eae7b987c4a7fbe800e9b0c","auth_url":"https:\/\/edit.telegra.ph\/auth\/64QwaPfmHVWVKwkq3PP5AImzjRk1RIEWNssViFiXAc"}}'
  recorded_at: Mon, 14 Jan 2019 18:52:48 GMT
- request:
    method: get
    uri: https://api.telegra.ph/editAccountInfo?access_token=ce71c3f0de13b12a8271787a12509e71a9820eae7b987c4a7fbe800e9b0c&author_name=new_author&author_url=http://newlink.com&short_name=new_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"new_name","author_name":"new_author","author_url":"http:\/\/newlink.com\/"}}'
  recorded_at: Mon, 14 Jan 2019 18:52:48 GMT
recorded_with: VCR 4.0.0
