---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"954b4f52ed34680fb156a1e3eca52af9e8b12977e266589243b129e90899","auth_url":"https:\/\/edit.telegra.ph\/auth\/milUJm5A4pcFO7BQszVza0IkdDqhWGkiWDbDZgb4Dn"}}'
  recorded_at: Mon, 14 Jan 2019 18:51:42 GMT
- request:
    method: get
    uri: https://api.telegra.ph/editAccountInfo?access_token=954b4f52ed34680fb156a1e3eca52af9e8b12977e266589243b129e90899&author_name=new_author&author_url=http://newlink.com&short_name=new_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"new_name","author_name":"new_author","author_url":"http:\/\/newlink.com\/"}}'
  recorded_at: Mon, 14 Jan 2019 18:51:42 GMT
recorded_with: VCR 4.0.0
