---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"4ae965422a691bbe7053bd07d3b02fef2b7075a255c93b33c7c9a094c694","auth_url":"https:\/\/edit.telegra.ph\/auth\/8krKZWBqu08sm3hQjzDFYbjIwSHlD2yMkXujU5Io4O"}}'
  recorded_at: Sun, 21 Jan 2018 15:47:36 GMT
recorded_with: VCR 3.0.3
