---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"3fd7180e466de4ca1c574d4162cbbd68381c71521378249ef6c51c7d0a6d","auth_url":"https:\/\/edit.telegra.ph\/auth\/yNbrYGGV70Ar91NsoGifoPPdlzSljBKPmTelzSeFRO"}}'
  recorded_at: Sun, 21 Jan 2018 16:08:42 GMT
recorded_with: VCR 3.0.3
