---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"c81898daa6edb293fc26009322bb6d3893fc001fc138974a0a36e36c420e","auth_url":"https:\/\/edit.telegra.ph\/auth\/zl8td5mga31pVj4cIxcuA38Es01B47KBsQ4FWoU4qT"}}'
  recorded_at: Tue, 27 Feb 2018 18:23:04 GMT
- request:
    method: post
    uri: https://api.telegra.ph/createPage
    body:
      encoding: UTF-8
      string: '{"title":"test title","author_name":"test_author","author_url":"http://testauthorlink.com/","content":[{"tag":"p","children":["Hello,
        world!"]}],"return_content":true,"access_token":"c81898daa6edb293fc26009322bb6d3893fc001fc138974a0a36e36c420e"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"path":"test-title-02-27-17","url":"http:\/\/telegra.ph\/test-title-02-27-17","title":"test
        title","description":"","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","content":[{"tag":"p","children":["Hello,
        world!"]}],"views":0,"can_edit":true}}'
  recorded_at: Tue, 27 Feb 2018 18:23:04 GMT
recorded_with: VCR 3.0.3
