---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"47b037e809d338bd530088b88b2eed28bd532697ea91540874fd2e503772","auth_url":"https:\/\/edit.telegra.ph\/auth\/081gMpGD15kThv1z2RzOgwWwGWEMxxlvDmLqKp1Lvm"}}'
  recorded_at: Wed, 21 Feb 2018 16:53:07 GMT
- request:
    method: post
    uri: https://api.telegra.ph/createPage
    body:
      encoding: UTF-8
      string: '{"title":"test title","author_name":"test_author","author_url":"http://testauthorlink.com/","content":[{"tag":"p","children":["Hello,
        world!"]}],"return_content":true,"access_token":"47b037e809d338bd530088b88b2eed28bd532697ea91540874fd2e503772"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"path":"test-title-02-21-13","url":"http:\/\/telegra.ph\/test-title-02-21-13","title":"test
        title","description":"","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","content":[{"tag":"p","children":["Hello,
        world!"]}],"views":0,"can_edit":true}}'
  recorded_at: Wed, 21 Feb 2018 16:53:07 GMT
recorded_with: VCR 3.0.3
