---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"2ee470690750e02d5d9b5237a330964ba05dbd4d65b9c05a44386bd73260","auth_url":"https:\/\/edit.telegra.ph\/auth\/HjjCBFA3BcqljdacUXpSgyMiqWepy6yfpRQ0uo36Ar"}}'
  recorded_at: Tue, 27 Feb 2018 18:22:58 GMT
- request:
    method: get
    uri: https://api.telegra.ph/editAccountInfo?access_token=2ee470690750e02d5d9b5237a330964ba05dbd4d65b9c05a44386bd73260&author_name=new_author&author_url=http://newlink.com&short_name=new_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"new_name","author_name":"new_author","author_url":"http:\/\/newlink.com\/"}}'
  recorded_at: Tue, 27 Feb 2018 18:22:58 GMT
recorded_with: VCR 3.0.3
