---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"30da4ef217c048374d130323eea93b6dfa4d351c71f47b15ef0eafa48a72","auth_url":"https:\/\/edit.telegra.ph\/auth\/YkRVbZAud9tEOqUsQ82Jbh7oGLeSli9jA0cJXKeaSF"}}'
  recorded_at: Wed, 21 Feb 2018 11:32:50 GMT
- request:
    method: get
    uri: https://api.telegra.ph/editAccountInfo?access_token=30da4ef217c048374d130323eea93b6dfa4d351c71f47b15ef0eafa48a72&author_name=new_author&author_url=http://newlink.com&short_name=new_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"new_name","author_name":"new_author","author_url":"http:\/\/newlink.com\/"}}'
  recorded_at: Wed, 21 Feb 2018 11:32:51 GMT
recorded_with: VCR 3.0.3
