---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://author.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"3625f24c285a703374de6261b09ece3c6d743b6378ef91ee434c74b072ea","auth_url":"https:\/\/edit.telegra.ph\/auth\/ZM7StrlOaC6gEoRFGKcNu1FaLhckpOvmzAe2ZyQ78W"}}'
  recorded_at: Thu, 17 Jan 2019 19:25:14 GMT
recorded_with: VCR 4.0.0
