---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://author.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"e7845bb8d29c4e018efe879551795bb3358e815194dbed38cbba30ed9922","auth_url":"https:\/\/edit.telegra.ph\/auth\/viynpqEsrRdjE72dfg7iKNEB7UVqyna1EGo360uxSH"}}'
  recorded_at: Mon, 14 Jan 2019 18:51:48 GMT
recorded_with: VCR 4.0.0
