---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://author.com","access_token":"c758f455e4a41812beda02654eb524c402befc1d37541e874b8f3d4a96f9"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"e7bcd533c43169169e4f736ef2ae8dd0f49e696c3ce8e76f1ae63ca227e5","auth_url":"https:\/\/edit.telegra.ph\/auth\/fCLh6QVUujWorVZrIgc3pQVNmLexeXKszwHFmAxOTr"}}'
  recorded_at: Thu, 30 Nov 2017 13:37:44 GMT
recorded_with: VCR 3.0.3
