---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createPage
    body:
      encoding: UTF-8
      string: '{"title":"Sample Page","author_name":"Anonymous","author_url":"http://author.com","content":[{"tag":"p","children":["Hello,
        world!"]}],"return_content":false,"access_token":"a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"path":"Sample-Page-01-14-29","url":"https:\/\/telegra.ph\/Sample-Page-01-14-29","title":"Sample
        Page","description":"","author_name":"Anonymous","author_url":"http:\/\/author.com\/","views":0,"can_edit":true}}'
  recorded_at: Mon, 14 Jan 2019 18:51:45 GMT
recorded_with: VCR 4.0.0
