---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"004efaf31c79ac1e4643059272a4f68f6246651ac0687fdffe5991b49658","auth_url":"https:\/\/edit.telegra.ph\/auth\/ZqbPCr3rkadUp0gnpTH0LDMuDlGgtWzqnIfZ9hprpC"}}'
  recorded_at: Sun, 21 Jan 2018 16:08:42 GMT
recorded_with: VCR 3.0.3
