---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"4aa1af1605f3a9935f381b91e5d91d00ad5f1e04c3ff1d50e7c19c734abd","auth_url":"https:\/\/edit.telegra.ph\/auth\/awqgLgnkFePxd9K4opMKSreUctO7bhrjLRzx5VPL9E"}}'
  recorded_at: Tue, 27 Feb 2018 18:23:06 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getPage?access_token=4aa1af1605f3a9935f381b91e5d91d00ad5f1e04c3ff1d50e7c19c734abd&path=test-title-02-21-4&return_content=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"path":"test-title-02-21-4","url":"http:\/\/telegra.ph\/test-title-02-21-4","title":"test
        title","description":"Hello, world!","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","views":0}}'
  recorded_at: Tue, 27 Feb 2018 18:23:06 GMT
recorded_with: VCR 3.0.3
