---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"e5c2c69ff262a18fae00686689621b23f9ae7fbe6703b2029bfff91b8f10","auth_url":"https:\/\/edit.telegra.ph\/auth\/LUFqfupN15bWKAwL9FVpuEiYDhe0Lfrx96Voyi9znl"}}'
  recorded_at: Mon, 14 Jan 2019 18:51:37 GMT
recorded_with: VCR 4.0.0
