---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"d0d72d73a7cd1f73fbd734bbd207323fcafba8e2ba58ca5158673c0a5ace","auth_url":"https:\/\/edit.telegra.ph\/auth\/Mp4JCbOethAM2YR8uGNdq3HrMympsxOcUSWu2KJtZh"}}'
  recorded_at: Sun, 20 Jan 2019 08:58:14 GMT
recorded_with: VCR 4.0.0
