---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"0e77fdea2a63e6a576012f4f8be7c08298767ef94e011886e91b5aa12132","auth_url":"https:\/\/edit.telegra.ph\/auth\/z1FRpfimdGN8NqeT3vhXAK1kkQNu1afAbSpy5GUjmF"}}'
  recorded_at: Mon, 14 Jan 2019 18:51:38 GMT
- request:
    method: get
    uri: https://api.telegra.ph/editAccountInfo?access_token=0e77fdea2a63e6a576012f4f8be7c08298767ef94e011886e91b5aa12132&author_name=new_author&author_url=http://newlink.com&short_name=new_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"new_name","author_name":"new_author","author_url":"http:\/\/newlink.com\/"}}'
  recorded_at: Mon, 14 Jan 2019 18:51:39 GMT
recorded_with: VCR 4.0.0
