---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/editPage
    body:
      encoding: UTF-8
      string: '{"path":"Sample-Page-12-15","title":"New Title","content":[{"tag":"p","children":["Hello,
        world!"]}],"author_name":null,"author_url":null,"access_token":"a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"PAGE_ACCESS_DENIED"}'
  recorded_at: Sun, 20 Jan 2019 09:13:31 GMT
recorded_with: VCR 4.0.0
