---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"325e3c5b31fe00126b35b20b52d0ed63ac6b13ad5948bc26a4630923f1b4","auth_url":"https:\/\/edit.telegra.ph\/auth\/Y3yzCvuUmcNGkruzT98lEpIMV9C2gU3fWAMy3espod"}}'
  recorded_at: Tue, 27 Feb 2018 18:22:57 GMT
- request:
    method: get
    uri: https://api.telegra.ph/editAccountInfo?access_token=325e3c5b31fe00126b35b20b52d0ed63ac6b13ad5948bc26a4630923f1b4&author_name=new_author&author_url=http://newlink.com&short_name=new_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"new_name","author_name":"new_author","author_url":"http:\/\/newlink.com\/"}}'
  recorded_at: Tue, 27 Feb 2018 18:22:57 GMT
recorded_with: VCR 3.0.3
