---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"4c8a3ef92f7929a075b292d3362c1c4fa575948d812c16a3c21de3a1b6e3","auth_url":"https:\/\/edit.telegra.ph\/auth\/6E5uwLoMzYbrprv5Gppyvq27uhXJz7zGLF8fqwZ0t9"}}'
  recorded_at: Tue, 27 Feb 2018 18:52:11 GMT
recorded_with: VCR 3.0.3
