---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"72db714865e0ae7f3f331a53956bbc9a7f3f1505018fc44818c9fc289265","auth_url":"https:\/\/edit.telegra.ph\/auth\/CbfRdym1OgZwR7bwFYcxNGYGAcK1wIH7TVY4ti5fw4"}}'
  recorded_at: Wed, 21 Feb 2018 17:10:53 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getPage?access_token=72db714865e0ae7f3f331a53956bbc9a7f3f1505018fc44818c9fc289265&path=test-title-02-21-4&return_content=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"path":"test-title-02-21-4","url":"http:\/\/telegra.ph\/test-title-02-21-4","title":"test
        title","description":"Hello, world!","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","views":0}}'
  recorded_at: Wed, 21 Feb 2018 17:10:53 GMT
recorded_with: VCR 3.0.3
