---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"fe507fd9b497e944ee445a2ddb792e5d72ee62457fc14f39ade1bd90537d","auth_url":"https:\/\/edit.telegra.ph\/auth\/avnAIKbviYt455eNu2OAA0DmA9wdtJlDfGbXqktHiW"}}'
  recorded_at: Wed, 21 Feb 2018 16:39:51 GMT
- request:
    method: post
    uri: https://api.telegra.ph/createPage
    body:
      encoding: UTF-8
      string: '{"title":"test title","author_name":"test_author","author_url":"http://testauthorlink.com/","content":[{"tag":"p","children":["Hello,
        world!"]}],"return_content":false,"access_token":"fe507fd9b497e944ee445a2ddb792e5d72ee62457fc14f39ade1bd90537d"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"path":"test-title-02-21-7","url":"http:\/\/telegra.ph\/test-title-02-21-7","title":"test
        title","description":"","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","views":0,"can_edit":true}}'
  recorded_at: Wed, 21 Feb 2018 16:39:53 GMT
recorded_with: VCR 3.0.3
