---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/getPageList?access_token=a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"total_count":610,"pages":[{"path":"Sample-Page-01-17-16","url":"https:\/\/telegra.ph\/Sample-Page-01-17-16","title":"Sample
        Page","description":"Hello, world!","author_name":"Anonymous","author_url":"http:\/\/author.com\/","views":0,"can_edit":true},{"path":"Sample-Page-01-14-29","url":"https:\/\/telegra.ph\/Sample-Page-01-14-29","title":"Sample
        Page","description":"Hello, world!","author_name":"Anonymous","author_url":"http:\/\/author.com\/","views":0,"can_edit":true},{"path":"Sample-Page-01-14-28","url":"https:\/\/telegra.ph\/Sample-Page-01-14-28","title":"Sample
        Page","description":"Hello, world!","author_name":"Anonymous","author_url":"http:\/\/author.com\/","views":0,"can_edit":true},{"path":"Sample-Page-01-14-27"[...]
