---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"01c877183f19043763032fff8170395471637cf9fe0b308c5e3043216d63","auth_url":"https:\/\/edit.telegra.ph\/auth\/TvxHdi1MEzcBUOOeqQ2VY3OWCWGENItGb0nmhp6VWj"}}'
  recorded_at: Sun, 20 Jan 2019 08:58:14 GMT
recorded_with: VCR 4.0.0
