---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"df1acba4b49ab171e8f878988151f69c9fe887ae990b46e603653a807256","auth_url":"https:\/\/edit.telegra.ph\/auth\/Qvrwt2jbagMGPNT9mDaZcEgfULhG6sdUVCrmCKxMYi"}}'
  recorded_at: Mon, 14 Jan 2019 18:51:37 GMT
recorded_with: VCR 4.0.0
