---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"77423d3d5043ab200a7902acf7754da3710a5f1dfeede663d0a3f4b9adde","auth_url":"https:\/\/edit.telegra.ph\/auth\/n3ueFF2a7ZfDoV4M7ItDuQZInpQ0o73LavYQ800gXd"}}'
  recorded_at: Sun, 21 Jan 2018 16:08:43 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getAccountInfo?access_token=77423d3d5043ab200a7902acf7754da3710a5f1dfeede663d0a3f4b9adde&fields%5B%5D=auth_url&fields%5B%5D=author_name&fields%5B%5D=author_url&fields%5B%5D=page_count&fields%5B%5D=short_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"FIELDS_FORMAT_INVALID"}'
  recorded_at: Sun, 21 Jan 2018 16:08:43 GMT
recorded_with: VCR 3.0.3
