---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/getAccountInfo
    body:
      encoding: UTF-8
      string: '{"fields":"[\"short_name\"]","access_token":"a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"new name"}}'
  recorded_at: Thu, 30 Nov 2017 17:36:31 GMT
recorded_with: VCR 3.0.3
