---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"f253e963f43cce78a826e5b01129210d6ca85933b19b3e7ab041ca817dc0","auth_url":"https:\/\/edit.telegra.ph\/auth\/AWQN9AnOVR7xXLoFDYdVzAC5I7V2y9w83mVcVg0O75"}}'
  recorded_at: Sun, 20 Jan 2019 08:58:14 GMT
recorded_with: VCR 4.0.0
