---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"bc2c13d3ef2c5fa0b34e964724dc048b17b3314046ae41f10ab7dcd56471","auth_url":"https:\/\/edit.telegra.ph\/auth\/T30TNY3JTpA0LPjQu5UAp2q5IYep61mY5mRSlUzeia"}}'
  recorded_at: Mon, 14 Jan 2019 18:51:37 GMT
recorded_with: VCR 4.0.0
