---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"3ab8335c4c0e29cc16c59bd535c6bd74eb16e384872f0a175e1165c7a0ad","auth_url":"https:\/\/edit.telegra.ph\/auth\/GcZceldeaZLjzXBfVRR2eChiLJCoiKQZUPb6amijl4"}}'
  recorded_at: Tue, 27 Feb 2018 18:22:56 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getAccountInfo?access_token=3ab8335c4c0e29cc16c59bd535c6bd74eb16e384872f0a175e1165c7a0ad&fields=%5B%22short_name%22,%22author_name%22,%22author_url%22,%22auth_url%22,%22page_count%22%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","auth_url":"https:\/\/edit.telegra.ph\/auth\/xm1A7HFhkYrvCfklhC9OAsNvG9FOOvOlPPUXwxcPuE","page_count":0}}'
  recorded_at: Tue, 27 Feb 2018 18:22:56 GMT
recorded_with: VCR 3.0.3
