---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"5a636dc7452f13ba1ffc52097236f328071fda4d5b68999be03693312cd3","auth_url":"https:\/\/edit.telegra.ph\/auth\/YZcaHLRdaKWxBoBmvMTRUeBxXcJuT6RR51ZKMOVUyR"}}'
  recorded_at: Wed, 21 Feb 2018 11:05:37 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getAccountInfo?access_token=5a636dc7452f13ba1ffc52097236f328071fda4d5b68999be03693312cd3&fields=%5B%22short_name%22,%22author_name%22,%22author_url%22,%22auth_url%22,%22page_count%22%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","auth_url":"https:\/\/edit.telegra.ph\/auth\/OYtU0cUsiEDwULzVn7QlFO2P0NTlFyUtunluAfUQRx","page_count":0}}'
  recorded_at: Wed, 21 Feb 2018 11:05:38 GMT
recorded_with: VCR 3.0.3
