---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"7e6297b2785746d62284f2f83b8efc7d2422a2edaa21f2de10792b1c0d6c","auth_url":"https:\/\/edit.telegra.ph\/auth\/If2R0y3Va145orm1kidSGWg1RWyEEOPk3Qb1meWweZ"}}'
  recorded_at: Wed, 21 Feb 2018 17:10:55 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getPage?access_token=7e6297b2785746d62284f2f83b8efc7d2422a2edaa21f2de10792b1c0d6c&path=test-title-02-21-4&return_content=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"path":"test-title-02-21-4","url":"http:\/\/telegra.ph\/test-title-02-21-4","title":"test
        title","description":"Hello, world!","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","views":0}}'
  recorded_at: Wed, 21 Feb 2018 17:10:55 GMT
recorded_with: VCR 3.0.3
