---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"c193cb0ecc2076bf961ad005172766fd7b963ccf570d8707eca4ea1d94f2","auth_url":"https:\/\/edit.telegra.ph\/auth\/o0Nj1NB1zHmr1lo7zXhUVL5lVgmbe5BA3nU48t3Hap"}}'
  recorded_at: Sun, 21 Jan 2018 15:47:37 GMT
recorded_with: VCR 3.0.3
