---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"c2fff6d7892575b2d3f6c5c05ede9f9e39d3d0da9244c667208a10f25819","auth_url":"https:\/\/edit.telegra.ph\/auth\/IAq2JP73bIsatODwmgKJtQ78uMenVnvDXUDFJKIUqa"}}'
  recorded_at: Wed, 21 Feb 2018 16:52:16 GMT
- request:
    method: post
    uri: https://api.telegra.ph/createPage
    body:
      encoding: UTF-8
      string: '{"title":"test title","author_name":"test_author","author_url":"http://testauthorlink.com/","content":[{"tag":"p","children":["Hello,
        world!"]}],"return_content":false,"access_token":"c2fff6d7892575b2d3f6c5c05ede9f9e39d3d0da9244c667208a10f25819"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"path":"test-title-02-21-12","url":"http:\/\/telegra.ph\/test-title-02-21-12","title":"test
        title","description":"","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","views":0,"can_edit":true}}'
  recorded_at: Wed, 21 Feb 2018 16:52:16 GMT
recorded_with: VCR 3.0.3
