---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createPage
    body:
      encoding: UTF-8
      string: '{"title":"keka","content":"[{\"tag\":\"p\",\"children\":[\"Hello\"]}]","access_token":"a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"path":"keka-11-30-2","url":"http:\/\/telegra.ph\/keka-11-30-2","title":"keka","description":"","views":0,"can_edit":true}}'
  recorded_at: Thu, 30 Nov 2017 12:39:16 GMT
recorded_with: VCR 3.0.3
