---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"9f6d5dad95df5704cf14e51c2184f6cdc0cf32fa4e3b597bd93daae371a4","auth_url":"https:\/\/edit.telegra.ph\/auth\/PO03FfisUQN5uSzlS59Ay5QBaSPqZZuOLsRoG7QAYE"}}'
  recorded_at: Tue, 27 Feb 2018 18:22:55 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getAccountInfo?access_token=9f6d5dad95df5704cf14e51c2184f6cdc0cf32fa4e3b597bd93daae371a4&fields=%5B%22short_name%22,%22author_name%22,%22author_url%22,%22auth_url%22,%22page_count%22%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","auth_url":"https:\/\/edit.telegra.ph\/auth\/PxmAS78pZ6F1K5x8uZjhVJqrB4RymDtaaOK0VSoSY1","page_count":0}}'
  recorded_at: Tue, 27 Feb 2018 18:22:56 GMT
recorded_with: VCR 3.0.3
