---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"a93f9a9589d8833dd30bd851280b8b5312d32dc70332075643b926a198b3","auth_url":"https:\/\/edit.telegra.ph\/auth\/x4pKZOKKv34XjsBqrB5VojKC7JrgiAJNF8vEVfmqhr"}}'
  recorded_at: Wed, 21 Feb 2018 10:24:27 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getAccountInfo?access_token=a93f9a9589d8833dd30bd851280b8b5312d32dc70332075643b926a198b3&fields=%5B%22short_name%22,%22author_name%22,%22author_url%22,%22auth_url%22,%22page_count%22%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","auth_url":"https:\/\/edit.telegra.ph\/auth\/yQtp6aHkjnAO3r14zwmsXysZKu76GKhcBKBHUiZcDz","page_count":0}}'
  recorded_at: Wed, 21 Feb 2018 10:24:27 GMT
recorded_with: VCR 3.0.3
