---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"","author_name":"test_author","author_url":"http://author.com","access_token":"60da86d82628f46f7c691d5b3cbcdaa0ca7c4f0209264f967baf4d0f3aa4"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"SHORT_NAME_REQUIRED"}'
  recorded_at: Thu, 30 Nov 2017 12:34:46 GMT
recorded_with: VCR 3.0.3
