---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/editAccountInfo?access_token=a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5&author_name=new_author&author_url=http://newlink.com&short_name=new_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"new_name","author_name":"new_author","author_url":"http:\/\/newlink.com\/"}}'
  recorded_at: Sun, 20 Jan 2019 08:58:14 GMT
recorded_with: VCR 4.0.0
