---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"2f35ee0970587c922c3ab579c96c90a3482c45637843399774319d3dbdbb","auth_url":"https:\/\/edit.telegra.ph\/auth\/SrET8A12vB6UMTbekwZpajBWD9w2pnWfPy8V68YzJ4"}}'
  recorded_at: Mon, 14 Jan 2019 18:51:39 GMT
- request:
    method: get
    uri: https://api.telegra.ph/editAccountInfo?access_token=2f35ee0970587c922c3ab579c96c90a3482c45637843399774319d3dbdbb&author_name=new_author&author_url=http://newlink.com&short_name=new_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"new_name","author_name":"new_author","author_url":"http:\/\/newlink.com\/"}}'
  recorded_at: Mon, 14 Jan 2019 18:51:39 GMT
recorded_with: VCR 4.0.0
