---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"24beda2b3879948a62b22f0bc61581366062943059dcd8767f485ae00866","auth_url":"https:\/\/edit.telegra.ph\/auth\/uViYMbOTuMvpSsVAwIiQVwS2hP0Idy4HtkDeur7YcB"}}'
  recorded_at: Tue, 27 Feb 2018 18:50:49 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getPageList?access_token=24beda2b3879948a62b22f0bc61581366062943059dcd8767f485ae00866&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"total_count":0,"pages":[]}}'
  recorded_at: Tue, 27 Feb 2018 18:50:49 GMT
recorded_with: VCR 3.0.3
