---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"a5392238c1def3c89b1547fc4ba9c748b99b3358ae51cdc4b9420badfb95","auth_url":"https:\/\/edit.telegra.ph\/auth\/0NQ6MwC9YHcz8irUgF2WrQikCEiVz6hyR7EDCeLyVV"}}'
  recorded_at: Tue, 27 Feb 2018 18:48:59 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getViews?path=test-title-02-27-4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"views":0}}'
  recorded_at: Tue, 27 Feb 2018 18:49:00 GMT
recorded_with: VCR 3.0.3
