---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://author.com","access_token":"b75403e3bd7b5a60e7054017f63c233815e7235f45ec5df02bd1529bf489"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"c758f455e4a41812beda02654eb524c402befc1d37541e874b8f3d4a96f9","auth_url":"https:\/\/edit.telegra.ph\/auth\/zK7OuNntb5oic716JBxIBhSx5uPN5deDVkrp7NQhSe"}}'
  recorded_at: Thu, 30 Nov 2017 13:37:43 GMT
recorded_with: VCR 3.0.3
