---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://author.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"03fe48ba5b0fef86078bfdd786ca2cfab7076efcced9ea4b01524361be18","auth_url":"https:\/\/edit.telegra.ph\/auth\/5bx0EfPLe2chMMx8RBC0qEfn2KNVuxwxI3vkhi6vki"}}'
  recorded_at: Thu, 17 Jan 2019 19:25:13 GMT
recorded_with: VCR 4.0.0
