---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://author.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/author.com\/","access_token":"e38c272eb01ea70cec7c6e98f6253103f1ec03b8997cd26520ccb2735d84","auth_url":"https:\/\/edit.telegra.ph\/auth\/E1jsqNUf6SM1xZBA5TObVrcuw7cnny50AoqYckeiaY"}}'
  recorded_at: Mon, 14 Jan 2019 18:51:48 GMT
recorded_with: VCR 4.0.0
