---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/getViews
    body:
      encoding: UTF-8
      string: '{"path":"Tysyachelikij-geroj-Part-11-12-05","month":12,"access_token":"a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"YEAR_MISSING"}'
  recorded_at: Fri, 08 Dec 2017 13:19:20 GMT
recorded_with: VCR 3.0.3
