---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"c4c0c028858d46aadf46f4b27d65b7744cdf60ebe0675e3a4230b1df12da","auth_url":"https:\/\/edit.telegra.ph\/auth\/yJH9Rv0cTkw2zYulpTTLrHqLWBbngEJPnqWfUXpLfU"}}'
  recorded_at: Tue, 27 Feb 2018 18:22:56 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getAccountInfo?access_token=c4c0c028858d46aadf46f4b27d65b7744cdf60ebe0675e3a4230b1df12da&fields=%5B%22short_name%22,%22author_name%22,%22author_url%22,%22auth_url%22,%22page_count%22%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","auth_url":"https:\/\/edit.telegra.ph\/auth\/9LJg0Y7HBEcgUiGstc5F6T5Cs2X3U4O3PvhNtou40H","page_count":0}}'
  recorded_at: Tue, 27 Feb 2018 18:22:56 GMT
recorded_with: VCR 3.0.3
