---
http_interactions:
- request:
    method: post
    uri: https://api.telegra.ph/createAccount
    body:
      encoding: UTF-8
      string: '{"short_name":"test_name","author_name":"test_author","author_url":"http://testauthorlink.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","access_token":"0f009aa8305e286e6a8d69dce3e70dc0636aab768ef9399abcf6c2aeaed3","auth_url":"https:\/\/edit.telegra.ph\/auth\/ni9UOUvimNI7Wlv1gCSFa3jOw2lf66KrmUkbMPr9A9"}}'
  recorded_at: Wed, 21 Feb 2018 11:05:37 GMT
- request:
    method: get
    uri: https://api.telegra.ph/getAccountInfo?access_token=0f009aa8305e286e6a8d69dce3e70dc0636aab768ef9399abcf6c2aeaed3&fields=%5B%22short_name%22,%22author_name%22,%22author_url%22,%22auth_url%22,%22page_count%22%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":{"short_name":"test_name","author_name":"test_author","author_url":"http:\/\/testauthorlink.com\/","auth_url":"https:\/\/edit.telegra.ph\/auth\/RgH4Sr33nJoG0BpX9MgZ26nDrpJN8slXH11zq3ALKZ","page_count":0}}'
  recorded_at: Wed, 21 Feb 2018 11:05:37 GMT
recorded_with: VCR 3.0.3
