---
http_interactions:
- request:
    method: get
    uri: https://api.telegra.ph/getAccountInfo?access_token=a24dbcafbd49a962e4a7f5842410afdb07e49f0f7ac108a3c68146e75ca5&fields=%5B%22short_name%22,%22author_name%22,%22author_url%22,%22auth_url%22,%22page_count%22%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"result":{"short_name":"new name","author_name":"new author","author_url":"http:\/\/new-url.com\/","auth_url":"https:\/\/edit.telegra.ph\/auth\/jJhUviw3TCF8u261AJTPJxrM1Dq7ii0BZfvsx0vpC8","page_count":609}}'
  recorded_at: Mon, 14 Jan 2019 18:52:49 GMT
recorded_with: VCR 4.0.0
